<div class="header">
    <div style="margin: auto; width: 50%;">

        <div style="display: flex; align-items: flex-end;">
            <h1 style="margin-top: 0px; margin-bottom: 0px; font-size: 5em">brng.dev</h1>
            <h2 style="margin-top: 0px; margin-bottom: 0px; ">
            {% capture stem %}{{page.url | slice: 0,5}}{% endcapture %}
            {% if stem == "/blog" %}
            Brandon's Bytes
            {% else %}
            Brandon Nguyen
            {% endif %}
            </h2>
        </div>
        
        {% include navigation.html %}
    </div>
    <hr style="clear: both;"/>
</div>
