<div class="header">
    <div style="margin: auto; width: 50%;">

        <div style="display: flex; align-items: flex-end;">
            <h1 style="margin-top: 0px; margin-bottom: 0px; font-size: 5em">btn.dev</h1>
            <h2 style="margin-top: 0px; margin-bottom: 0px; ">
            {% if page.url == "/blog" or page.is_post %}
            Brandon's Bytes
            {% else %}
            Brandon Nguyen
            {% endif %}
            </h2>
        </div>
        
        <div style="">
        {% include navigation.html %}
        </div>
    </div>
    <hr style="clear: both;"/>
</div>
