@import 'colors-dark';

body {
    font-family: 'Roboto', sans-serif;
    background-color: $color-back;
    color: $color-text;
}

a {
    color: $color-accent;
}


nav {
    display: inline-block;
    font-size: 1.5em;

    a {
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
    }

    a:link, a:visited {
        background-color: $color-back;
        color: $color-text;
    }

    a:hover, a:active {
        background-color: $color-text;
        color: $color-back;
    }

    a.nav-current {
        background-color: $color-accent;
        color: $color-text;
    }
}

.header {
    user-select: none;
    font-family: 'Share Tech Mono', monospace;
    background-color: $color-element1;
}
.footer {
    background-color: $color-element1;
}

.post-box {
    margin: auto;
    width: 50%;
    padding: 10px;

    background-color: $color-element1;
}
